<section class="subscribe-modal-background">
  <form
  class="subscribe-modal-container"
  *ngIf="showModal"
  >
    <div class="title-container">
      <h2>Cadastro de produtos</h2>
    </div>
    <article class="subscribe-form-data">
      <!-- name -->
      <div class="subscribe-modal-input">
        <label>Nome</label>
        <input type="text"/>
      </div>
      <!-- description -->
      <div class="subscribe-modal-input">
        <label>Descrição</label>
        <input type="text" />
      </div>
      <!-- price -->
      <div class="subscribe-modal-input">
        <label>Valor</label>
        <input type="number" />
      </div>
      <!-- avaliable -->
      <div class="subscribe-modal-input">
        <label>Disponível</label>
        <input type="text" />
      </div>
    </article>
    <!-- button -->
    <div class="subscribe-btn">
      <button>Gravar dados</button>
    </div>
  </form>
</section>
