.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn-add{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    transition: .3s;
    margin-bottom: 40px;

    &:hover{
      opacity: 0.9;
    }

    button{
      border: none;
      padding: 10px 15px;
      background-color: #2a2a2a;
      color: #fff;
      border-radius: 10px;
      cursor: pointer;
      padding-right: 20px;
    }
  }

  .table-title{
    padding-bottom: 40px;
  }

  .table-list{
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .table-header{
    height: 70px;
    border: 1px solid #2a2a2a;
    background-color: #f1f1f1;
  }

  tbody{
    &:nth-child(odd){
      background-color: #f1f1f1;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
    tr{
      height: 40px;

    }
  }
}
