.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: #f1f1f1;
    transition: .3s;
    margin-bottom: 40px;

    &:hover{
      opacity: 0.9;
    }

    h1{
      padding-left: 110px;
    }

    .add-btn-container{
      display: flex;
      align-items: center;
      padding-right: 110px;
      button{
        border: none;
        padding: 10px 15px;
        background-color: #2a2a2a;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  .table-list{
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .table-header{
    height: 70px;
    border: 1px solid #2a2a2a;
    background-color: #f1f1f1;
  }

  .order-list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  tbody{
    &:nth-child(odd){
      background-color: #f1f1f1;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
    tr{
      height: 40px;
      td{

        .btn-action{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .default-btn{
            border: none;
            padding: 10px;
            border-radius: 7px;
            cursor: pointer;
            transition: .3s;
            &:hover{
              opacity: 0.5;
            }
          }

          .add-btn{
            background-color: #2fad78;
            ;
            color: #fff;
          }

          .delete-btn{
            background-color: #ce3434;
            color: #fff;
          }
        }
      }
    }
  }
}

.table-sortable{
  th{
    cursor: pointer;
  }

.th-sort-asc{
  background-color: rgba(0,0,0,0.1);
    &::after{
      content: "\25b4";
      margin-left: 5px;
    }
  }

  .th-sort-desc {
    background-color: rgba(0,0,0,0.1);
    &::after {
      content: "\25be";
      margin-left: 5px;
    }
  }
}

//modal

  .subscribe-modal-container {
    background-color: #f1f1f1;
    box-shadow: 1px 2px 3px #d1caca;
    max-width: 500px;
    min-height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    z-index: 5;
    @media (max-width:900px){
      width: 60%;
    }

    .close-modal-btn{
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bolder;
      transition: .3s;
      &:hover{
        color: red;
      }
    }

    .title-container {
      font-weight: 900;
    }

    .subscribe-form-data {
      display: flex;
      flex-direction: column;
    }

    .subscribe-modal-input {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;

      label {
        font-size: 15px;
        padding-bottom: 7px;
        font-weight: 700;
      }

      input {
        width: 100%;
        height: 20px;
        margin: 0 auto;
        border: 1px solid #ded7d7;
        border-radius: 5px;
      }
    }

    .subscribe-btn {
      padding-top: 20px;

      button {
        background-color: #fff;
        color: #2a2a2a;
        box-shadow: 1px 2px 3px #d1caca;
        border: none;
        border: 1px solid #e0d7d7;
        padding: 10px 20px;
        width: 150px;
        height: 50px;
        cursor: pointer;
        transition: .3s;
        border-radius: 10px;

        &:hover {
          background-color: #2a2a2a;
          color: #fff;
        }
      }
    }
  }


  //delete modal

  .delete-modal-container{
    box-shadow: 1px 2px 3px 3px #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;

    .close-delete-btn{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      &:hover{
        color: red;
      }
    }

    .delete-modal-title-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      h3{
        text-align: center;
        max-width: 250px;
      }
    }
    .delete-btns-container{
      display: flex;
      gap: 20px;

      .default-btn{
        border: none;
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          opacity: 0.7;
        }
      }

      .delete-btn-confirm{
        background-color: green;
        color: #fff;
      }
      .delete-btn-cancel{
        background-color: red;
        color: #fff;
      }
    }
  }
