<section class="table-container">
  <!-- header -->
    <div class="header-container">
      <h1 class="table-title">Listagem de Produtos</h1>
      <div class="add-btn-container">
        <button (click)="openModal()">Adicionar</button>
      </div>
    </div>

  <table
  class="table-list table-sortable"
  cellPadding="0"
  cellSpacing="0"
  >
    <thead class="table-header">
      <tr>
        <th (click)="sort('productName')">
          <!-- arrows-->
          <span class="arrows-box">
            <span>Nome</span>
            <span class="arrows">
              <span>^</span>
              <span class="arrow-down">^</span>
            </span>
          </span>
        </th>
        <th (click)="sort('productValue')">
          <!-- arrows-->
          <span class="arrows-box">
            <span>Nome</span>
            <span class="arrows">
              <span>^</span>
              <span class="arrow-down">^</span>
            </span>
          </span>
        </th>
        <th>Disponível</th>
        <th>{{'Ações'}}</th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of items">
      <tbody>
        <tr class="table-row">
          <td>{{item.productName}}</td>
          <td>{{item.productValue}}</td>
          <td>{{item.avaliable}}</td>
          <td>
            <span class="btn-action">
              <button
                class="default-btn delete-btn"
                (click)="openDeleteModal()">
                deletar
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</section>

<!-- add modal -->
<section class="subscribe-modal-background">
  <form
    (submit)="saveData()"
    class="subscribe-modal-container"
    *ngIf="showAddModal"
    >
    <!-- close btn -->
    <div
      class="close-modal-btn"
      (click)="closeModal()"
      >
      X
    </div>
    <div class="title-container">
      <h2>Cadastro de produtos</h2>
    </div>
    <article class="subscribe-form-data">
      <!-- name -->
      <div class="subscribe-modal-input">
        <label>Nome</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="productName"
          [ngModelOptions]="{standalone: true}"
          required
        />
      </div>
      <!-- description -->
      <div class="subscribe-modal-input">
        <label>Descrição</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="productDescription"
          [ngModelOptions]="{standalone: true}"
          required
        />
      </div>
      <!-- price -->
      <div class="subscribe-modal-input">
        <label>Valor</label>
        <input
          type="text"
          name="price"
          [(ngModel)]="productValue"
          pattern="\d{1,5}" title="Somente números"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
          required
        />
      </div>
      <!-- avaliable -->
      <div class="subscribe-modal-input">
        <label>Disponível</label>
        <select
          name="avaliable"
          id="avaliable"
          [(ngModel)]="productAvaliable"
          [ngModelOptions]="{standalone: true}"
          required
          >
        <option value="0"></option>
        <option>Sim</option>
        <option>Não</option>
        </select>
      </div>
    </article>
    <!-- button -->
      <div class="save-btn-container">
      <button
        class="save-btn"
        type="submit"
        [disabled]="!disableSaveBtn()"
        >Gravar dados
      </button>
    </div>
  </form>
</section>

<!-- delete modal -->
<section
  class="delete-modal-container"
  *ngIf="showDeleteModal"
  >
  <div
    class="close-delete-btn"
    (click)="closeDeleteModal()"
    >x</div>
  <div class="delete-modal-title-container">
    <h3>Voce tem certeza que deseja excluir esse item?</h3>
  </div>
  <div class="delete-btns-container">
    <button
      class="default-btn delete-btn-confirm"
      (click)="deleteItem()"
    >
      sim
    </button>
    <button
      class=" default-btn delete-btn-cancel"
      (click)="closeDeleteModal()"
      >
      não
    </button>
  </div>
</section>
