<section class="table-container">
  <h1 class="table-title">Listagem de Produtos</h1>
  <!-- add button -->
  <div class="btn-add">
    <button>Adicionar</button>
  </div>
  <table class="table-list">
    <thead class="table-header">
      <th>{{'Ordenação'}}</th>
      <th>{{'Nome'}} </th>
      <th>{{'Valor'}} </th>
      <th>{{'Disponível'}}</th>
    </thead>
    <ng-container *ngFor="let item of items">
      <tbody>
        <tr class="table-row">
          <td>{{item.ordenacao}}</td>
          <td>{{item.name}}</td>
          <td>{{item.valor}}</td>
          <td>{{item.avaliable}}</td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</section>
