<section class="table-container">
  <h1 class="table-title">Listagem de Produtos</h1>
  <!-- add button -->
  <div class="btn-add">
    <button (click)="openModal()">Adicionar</button>
    <select>
      <optgroup>
        <option value="">Menor</option>
        <option value="">Maior</option>
      </optgroup>
    </select>
  </div>
  <table class="table-list">
    <thead class="table-header">
      <th>{{'Ordenação'}}</th>
      <th>{{'Nome'}} </th>
      <th>{{'Valor'}} </th>
      <th>{{'Disponível'}}</th>
      <th>{{'Ações'}}</th>
    </thead>
    <ng-container *ngFor="let item of items">
      <tbody>
        <tr class="table-row">
          <td>{{item.ordenacao}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.valor}}</td>
          <td>{{item.avaliable}}</td>
          <td>
            <button
              class="delete-btn"
              (click)="openDeleteModal()"
              >deletar</button>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</section>

<!-- add modal -->

<section class="subscribe-modal-background">
  <form
    (submit)="saveData()"
    class="subscribe-modal-container"
    *ngIf="showAddModal"
    >
    <!-- close btn -->
    <div
      class="close-modal-btn"
      (click)="closeModal()"
      >
      X
    </div>
    <div class="title-container">
      <h2>Cadastro de produtos</h2>
    </div>
    <article class="subscribe-form-data">
      <!-- name -->
      <div class="subscribe-modal-input">
        <label>Nome</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="productName"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <!-- description -->
      <div class="subscribe-modal-input">
        <label>Descrição</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="productDescription"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <!-- price -->
      <div class="subscribe-modal-input">
        <label>Valor</label>
        <input
          type="text"
          name="price"
          [(ngModel)]="productValue"
          pattern="\d{1,5}" title="Somente números"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        />
      </div>
      <!-- avaliable -->
      <div class="subscribe-modal-input">
        <label>Disponível</label>
        <select
          name="avaliable"
          id="avaliable"
          [(ngModel)]="productAvaliable"
          [ngModelOptions]="{standalone: true}"
          >
        <option value="0"></option>
        <option>Sim</option>
        <option>Não</option>
        </select>
      </div>
    </article>
    <!-- button -->
    <div class="subscribe-btn">
      <button
      type="submit"
      >Gravar dados</button>
    </div>
  </form>
</section>

<!-- delete modal -->
<section
  class="delete-modal-container"
  *ngIf="showDeleteModal"
  >
  <div
    class="close-delete-btn"
    (click)="closeDeleteModal()"
    >x</div>
  <div class="delete-modal-title-container">
    <h3>Voce tem certeza que deseja excluir esse item?</h3>
    <h4>nome do item</h4>
  </div>
  <div class="delete-btns-container">
    <button
      class="delete-btn delete-btn-confirm"
    >
      sim
    </button>
    <button
      class=" delete-btn delete-btn-cancel"
      (click)="closeDeleteModal()"
      >
      não
    </button>
  </div>
</section>
